@charset "utf-8";
/* CSS Document */
/* CSS Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {  
	margin:0; 
	padding:0; 
} 

.principal_home{
	width: 700px;
	height: 100%;
	margin: 0 auto;
	margin-top: 10px;
}

.esquerda{
	width: 400px;
	height: 100%;
	float:left;
}

.titulo_esqueda{
	width: 380px;
	height: 40px;
	background-image:url(../images/minhasite.png);
	background-repeat:no-repeat;
	margin-bottom: 10px;
}

.home_resumo{
	width: 380px;
	height: 250px;
	margin-right: 20px;
	float: left;
	background-image:url(../images/bg_home1.png);
	background-repeat:no-repeat;
	margin-bottom: 20px;
}

.home_resumo_titulo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999;
	font-weight:bold;
	text-align:left;
	width: 200px;
	margin-top: 5px;
	margin-left: 10px;
}

.home_resumo_item_esqueda{
	width: 180px;
	margin-top: 15px;
	margin-left: 10px;
	float:left;
}

.home_resumo_item_direita{
	width: 180px;
	margin-top: 15px;
	float:left;
}

.direita{
	width: 300px;
	height: 100%;
	float:right;
}

.titulo_direita{
	width: 300px;
	height: 40px;
	background-image:url(../images/dadosGoogle.png);
	background-repeat:no-repeat;
	margin-bottom: 10px;
}

.home_google{
	width: 300px;
	height: 250px;
	margin-right: 20px;
	float: left;
	background-image:url(../images/bg_home2.png);
	background-repeat:no-repeat;
	margin-bottom: 20px;
}

.home_google_titulo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999;
	font-weight:bold;
	text-align:left;
	width: 200px;
	margin-top: 5px;
	margin-left: 10px;
}
